doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/css/main.css')
    block styles
    title #{pageTitle}
  body
    .backdrop
    header.main-header
      button#side-menu-toggle Menu
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a(href='/', class = {'active': path === '/'}) Shop
          li.main-header__item
            a(href='/products', class = {'active': path === '/products'}) Products
          li.main-header__item
            a(href='/cart', class = {'active': path === '/cart'}) Cart
          li.main-header__item
            a(href='/orders', class = {'active': path === '/orders'}) Orders
          li.main-header__item
            a(href='/admin/add-product', class = {'active': path === '/admin/add-product'}) Add Product
          li.main-header__item
            a(href='/admin/products', class = {'active': path === '/admin/products'}) Admin Products
    nav.mobile-nav
      ul.mobile-nav__item-list
        li.mobile-nav__item
          a(href='/', class = {'active': path === '/'}) Shop
        li.mobile-nav__item
          a(href='/products', class = {'active': path === '/products'}) Products
        li.mobile-nav__item
          a(href='/cart', class = {'active': path === '/cart'}) Cart
        li.mobile-nav__item
          a(href='/orders', class = {'active': path === '/orders'}) Orders
        li.mobile-nav__item
          a(href='/admin/add-product', class = {'active': path === '/admin/add-product'}) Add Product
        li.mobile-nav__item
          a(href='/admin/products', class = {'active': path === '/admin/products'}) Admin Products

    block content
    script(src="/js/main.js")
