extends ../layouts/main-layout.pug

block content
  main
    if products.length > 0
      ul
        each product in products
          li 
            p #{`${product.productData.title} (${product.quantity})`}
            form(action="/cart-delete-item", method="post")
              input(type="hidden", name="productId", value=product.productData.id)
              button.btn(type='submit') Delete
    else
      h1 No products in cart